{% load static %}
<header class="site-header">
  <div class="header-container">
    <a class="header-logo" href="/">
      Ganyk Store
    </a>
    <div class="header-search">
      <form action="{% url 'lista_produtos' %}" method="get" class="search-form">
        <input type="search" name="q" id="busca" placeholder="o que você procura?" value="{{ request.GET.q|default_if_none:'' }}">
        <button type="submit">
          <img src="{% static 'core/img/icons/lupa.png' %}" alt="Buscar">
        </button>
      </form>
    </div>
    <div>
      {% if user.is_authenticated %}
        <span>Olá, {{ user.first_name|default:user.email }}!!</span>
        <a href="#"><img src="{% static 'core/img/icons/cupom.png' %}" alt="Cupons"></a>
        <a href="#"><img src="{% static 'core/img/icons/coracao.png' %}" alt="Favoritos"></a>
        <a href="#"><img src="{% static 'core/img/icons/sacola.png' %}" alt="Sacola"></a>
        <form action="{% url 'logout' %}" method="post" class="logout-form">
          {% csrf_token %}
          <button type="submit" class="logout-btn">
            <img src="{% static 'core/img/icons/sair.png' %}" alt="Sair" />
          </button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">ENTRAR</a>
        <a href="#"><img src="{% static 'core/img/icons/cupom.png' %}" alt="Cupons"></a>
        <a href="#"><img src="{% static 'core/img/icons/coracao.png' %}" alt="Favoritos"></a>
        <a href="#"><img src="{% static 'core/img/icons/sacola.png' %}" alt="Sacola"></a>
      {% endif %}
    </div>
  </div>
  <div class="hamburger" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
    <nav class="header-nav">
      <a class="nav-link" href="{% url 'lista_produtos' %}?categoria=Feminino">Feminino</a>
      <a class="nav-link" href="{% url 'lista_produtos' %}?categoria=Masculino">Masculino</a>
      <a class="nav-link" href="{% url 'lista_produtos' %}?categoria=Infantil">Infantil</a>
      <a class="nav-link" href="{% url 'lista_produtos' %}?categoria=Esportivo">Esportivo</a>
      <a class="nav-link" href="{% url 'lista_produtos' %}?categoria=Marcas">Marcas</a>
      <a class="nav-link" href="{% url 'lista_produtos' %}?categoria=Saldo">Saldo</a>
    </nav>
</header>
<script>
  function toggleMenu() {
    document.querySelector('.header-nav').classList.toggle('active');
  }
</script>
