{% extends "core/base.html" %}
{% load static %}

{% block title %}Login - Ganyk Store{% endblock %}

{% block content %}
<div class="login-wrapper">
  <div class="login-box">

    <!-- Coluna esquerda (login social) -->
    <div class="login-left">
      <h2 class="login-title">Entrar com rede social</h2>
      <button class="btn-social facebook">
        <img src="{% static 'usuarios/img/icons/facebook.png' %}" alt="facebook">
        Login com Facebook
      </button>
      <button class="btn-social apple">
        <img src="{% static 'usuarios/img/icons/apple.png' %}" alt="apple">
        Login com Apple
      </button>
      <button class="btn-social google">
        <img src="{% static 'usuarios/img/icons/google.png' %}" alt="google">
        Login com Google
      </button>
      <p class="login-help">Associe uma conta de cada rede para acessar a Ganyk Store.</p>
    </div>

    <!-- Coluna direita (login tradicional) -->
    <div class="login-right">
      <h2 class="login-title">Entre ou cadastre-se</h2>
      <form method="post" class="login-form">
        {% csrf_token %}
        {% if messages %}
          <div class="login-messages">
            {% for message in messages %}
              <p class="login-message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
        <div class="form-group">
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password }}
        </div>
        <button type="submit" class="btn-login">Entrar</button>
      </form>
      <a href="{% url 'cadastro' %}" class="btn-create">Criar conta</a>
      <a href="#" class="forgot">Esqueceu seus dados de acesso?</a>
    </div>

  </div>
</div>
{% endblock %}
