{% extends "core/base.html" %}
{% block title %}E-mail enviado{% endblock %}
{% block content %}
<div class="login-wrapper">
  <div class="modal-fg-content" style="margin:auto;max-width:400px;">
    <h2 class="modal-fg-title">Verifique seu e-mail</h2>
    <p class="modal-fg-desc">Se o e-mail informado estiver cadastrado, você receberá um link para redefinir sua senha em instantes.</p>
    <a href="/usuarios/login/" class="btn-login" style="margin-top:18px;">Voltar ao login</a>
  </div>
</div>
{% endblock %}
